@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../scss/main.scss";

/* Main */
.main {
  height: auto;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  .headline-container {
    background-color: #400D31;
    height: 4.5rem;
    .headline {
      color: $grey-dark;
      padding-left: 8rem;
      padding-right: 8rem;
      .social-media {
        margin-left: 5rem;
        .social-media-icon {
          cursor: pointer;
        } 
      }
    }
    .rounded-white{
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      height: 1rem;
      width: 100%;
      background-color: $white;
      bottom: 0;
    }
  }
  /* Container */
  .body-container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    @include media-breakpoint-up(lg) { 
      border-top-left-radius: 3rem;
      border-top-right-radius: 3rem;
     }
  
    /* Navbar */
    .navbar-menu {
      padding: 0;
      border-bottom: 1px $grey-border solid;
  
      .navbar-content {
        width: 100%;
        margin: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: fixed;
        z-index: 999;
        background-color: $white;
        border-bottom: 1px solid $grey-border;
        @include media-breakpoint-up(lg) { 
          padding-left: 8rem;
          padding-right: 8rem;
          padding-top: 0rem;
          padding-bottom: 0rem;
          position: relative;
          border-bottom: 0;
        }
        .menubar {
          height: 100px;
          .nav {
            height: 100%;
            padding: 0;
            .dropdown-menu {
              padding: 0 1rem;
              min-width: max-content !important;
              .dropdown-list {
                width: 15rem;
                .dropdown-item {
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  border-bottom: 1px solid $grey-border;
                  .item {
                    width: 80%;
                  }
                }
                &.active {
                  .item {
                    color: $purple-primary;
                  }
                }
              }
              &.large {
                left: -33rem;
                background: none;
                border: none;
              }
              .sub {
                font-weight: bold;
                flex: none;
                background: white;
                border-radius: 16px;
                border: 1px solid $grey-border;
                &.ml-2 {
                  margin-left: 0.1rem;
                }
              }
            }
            .menubar-link {
              color: $grey-link;
              margin: auto 0;
              height: 100%;
              &.active {
                color: $purple-primary;
                border-bottom: 2px #A72583 solid;
                --mask: linear-gradient(to bottom, 
                rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
                rgba(0,0,0, 0) 95%, rgb(0, 0, 0) 0
                ) 100% 50% / 100% 100% repeat-x;
                
                -webkit-mask: var(--mask); 
                mask: var(--mask);
              }
              &.dropdown-toggle::after {
                display: none;
              }
            }
          }
        }
        .search-col {
          padding-right: 0;
          .search-button {
            width: 40px;
            height: 40px;
            border: 1px solid $grey-border;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .burger-button {
          width: 40px;
          height: 40px;
          border: 1px solid $grey-border;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .mobile-menu {
        width: 100%;
        margin-top: 5.7rem;
        border-radius: 0;
        z-index: 999;
        position: fixed;
        .card-mobile {
          border-top: 0;
          padding: 0 1.5rem;
          .container {
            gap: 2rem;
            .item {
              padding: 1rem 1rem;
              flex: none;
              cursor: pointer;
              &.first {
                padding-left: 0;
              }
              &.last {
                padding-right: 0;
              }
              &.active {
                color: $purple-primary;
                border-bottom: 1px solid $purple-primary;
              }
            }
          }
          .container::-webkit-scrollbar {
            display: none;
          }
          .mobile-sub-menu {
            display: none;
            &.show {
              display: block;
            }
            height: 77vh;
            padding: 0;
            overflow-y: auto;
            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              list-style: none;
              margin: 1rem 0;
              padding-bottom: 1rem;
              border-bottom: 1px solid $grey-border;
              &.active {
                color: $purple-primary;
              }
            }
            .accordion-body {
              margin-left: 2rem;
            }
          }
          .mobile-sub-menu::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  
    .main-container {
      margin-top: 0;
      @include media-breakpoint-down(lg) { 
        margin-top: 5.7rem;
      }
      .breadcrumb {
        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 1rem;
        gap: 0.5rem;
        @include media-breakpoint-down(lg) { 
          padding-left: 1.5rem;
          margin-top: 7rem;
        }
        .active {
          color: $purple-primary;
        }
      }
      .content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include media-breakpoint-up(lg) { 
          margin-top: 0rem;
          padding-left: 8rem;
          padding-right: 8rem;
        }
        .video-container {
          .video-list {
            @include media-breakpoint-up(lg) { 
              border-right: 1px solid $grey-border;
              padding-right: 2rem;
            }
            padding-top: 2rem;
            .video-player {
              width: 100%;
              height: 365px;
              border-radius: 12px;
            }
            .video-title {
              font-size: 32px;
              margin-top: 16px;
            }
            .video-summary {
              font-size: 16px;
              margin-top: 16px
            }
            .bar {
              display: flex;
              margin-top: 1rem;
              margin-bottom: 1rem;
              background-color: $grey-bar;
              border-radius: 12px;
              // padding: 1rem;
              .video-date {
                border-right: 1px solid $grey-border;
                padding: 1.5rem 3rem 1.5rem 1.5rem;
              }
              .video-views {
                flex: auto;
                padding: 1.5rem;
              }
            }
          }
          .video-other {
            @include media-breakpoint-up(lg) { 
              padding-left: 2rem;;
            }
            padding-top: 2rem;
            .video-other-list {
              padding: 0;
              overflow-y: auto;
              height: 110vh;
              .item {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $grey-border;
                .left {
                  width: 50%;
                  .date {
                    color: $purple-primary;
                  }
                  h3 {
                    margin-top: 1rem;
                    font-size: 16px;    
                    display: -webkit-box;
                    max-width: 200px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  }
                  @include media-breakpoint-down(lg) { 
                    width: 100%;
                    h3 {
                      max-width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      footer {
        // position: absolute;
        // background-color: $white;
        // margin-top: -1rem;
        border: 1px solid $grey-line;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        padding: 4rem 1.5rem;
        @include media-breakpoint-up(lg) { 
          padding: 4rem 8rem;
        }
        .center {
          .footer-menu-list {
            list-style: none;
            padding-left: 0;
            margin-top: 1.25rem;
            li {
              margin: 1rem 0;
            }
          }
        }
        .right {
          .contact {
            margin: 0.5rem 0;
            img {
              margin-right: 1rem;
            }
          }
          .vision {
            margin: 1rem 0;
          }
        }
        .copyrights {
          padding: 0;
          margin-top: 2rem;
          .socmed {
            gap: 1rem
          }
        }
      }
    }
  }
}


.separator {
  border-bottom: 1px solid $grey-border;
  &.mt-8 {
      margin-top: 2rem;
  }
  &.mt-16 {
    margin-top: 4rem;
  }
}

.white-space {
  height: 250px;
}

.tk-button {
  background-color: $white;
  border: 1px #A72583 solid;
  border-radius: 5rem;
  padding: 0.5rem;
  color: #A72583;
}

.ml-auto {
  margin-left: auto;
}

.h-100 {
  height: 100%;
}